#jokes-container {
  display: block;
  width: 100%;
  position:relative;
  float:right;
  margin-top: 0px;
  padding-bottom: 50px;
  background: url(/home/mnixon/Sites/birthdayPage/images/coolWeedBackground.jpg)no-repeat;
  background-size: cover;


}
#jokesHead h1{
  font-size:43px;
  text-align: center;
  font-family: cursive;
  display:block;
  margin-bottom: 100px;
  margin-top: 70px;
  background-color:#2dad68;
  color: white;
  margin-left:270px;
  margin-right:270px;
  font-weight: bold;
  text-decoration: underline;
  

}
.alignLeft {
  text-align: left;
  margin-left: 135px;
  margin-top: 30px;
 background-color:#2dad68;
  color: white;
}
.alignRight {
  text-align: right;
  margin-right: 130px;
  margin-top: 30px;
 background-color:#2dad68;
  color: white;
}