#main-content {
    width: 780px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}

#news {
    margin-left: 180px;
    float: left;
    width: 250px;
    margin-top: 75px;
}
.floatLeft {
  float: left;
  margin-right: 20px;
}
.floatRight {
  float: right;
}
#bottomPadding {
  margin-bottom: 200px;
}
#specialP {
  text-indent: 20px;
}

.block {
  display: block;
  margin-top: 75px;
  text-indent: 30px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#marginBottom {
  margin-bottom: 50px;
}
 .pMargin {
  margin-top: 150px;
  margin-left: 15px;
  margin-right: 15px;
}
#title1 {
  font-size: 50px;
  font-family: cursive;
  text-align: left;
  margin-left: 120px;

}
#title2{
  text-align: left;
  font-size: 35px;
  margin-left: 20px;
  margin-bottom: 30px;
  font-family: cursive;
}
#title3 {
  font-size:48px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
  margin-right: 60px;
  margin-top: 140px;
}
.news-article{
  margin-top: 90px;
  border: 2px solid black;
}
.news-article p {
  margin-top: 50px;
  text-indent: 22px;
  margin-left: 7px;
  margin-right: 7px;
}
.news-article h3{
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif
}
